.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 50px 5%;
  max-width: 1400px; /* Límite para que no se estiren de más */
  margin: 0 auto; /* Centra todo el catálogo */
}

.tarjeta-dulce {
  background: white;
  border-radius: 25px;
  padding: 25px;
  border: 4px solid #ffe4e1;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.02);
}

.imagen-contenedor img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 15px;
}

.tarjeta-dulce h3 { 
  color: #c71585; 
  font-size: 1.3rem; 
  margin: 10px 0; 
}

.precio-tag { 
  color: #db7093; 
  font-weight: bold; 
  font-size: 1.5rem; 
  margin-bottom: 20px; 
  display: block;
}

.btn-agregar {
  background: #ff69b4;
  color: white !important;
  border: none;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}