/* --- ESTILOS GENERALES (PARA TODO EL SITIO) --- */
body {
  background-color: #fff0f5; /* Rosa lavanda suave */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* --- BARRA DE NAVEGACIÓN SUPERIOR --- */
.nav-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
  border-bottom: 3px solid #ffb6c1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.nav-principal h1 {
  color: #db7093;
  margin: 0;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-nav {
  background: #ff69b4;
  color: white !important;
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #ff1493;
  transform: scale(1.05);
}