.pantalla-tienda {
  width: 100%;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px 4%;
  max-width: 98% !important; /* Ahora abarca casi toda la pantalla */
  margin: 0 auto;
}

.tarjeta-dulce {
  background: white;
  border-radius: 25px;
  padding: 20px;
  border: 4px solid #ffe4e1;
  text-align: center;
  transition: 0.3s;
}

.imagen-contenedor img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
}

.tarjeta-dulce h3 { color: #c71585; font-size: 1.4rem; margin: 15px 0; }
.precio-tag { color: #db7093; font-weight: bold; font-size: 1.5rem; display: block; margin-bottom: 15px; }

.btn-agregar {
  background: #ff69b4;
  color: white !important;
  border: none;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}